{% extends 'layouts/base.html' %}

{% block content %}
<h1>Informacion de la solicitud</h1>
<br>
<h2>Equipo: {{solicitud.nombre_equipo}}</h2>

<br>
<h2>Problema: {{solicitud.problema}}</h2>

<br>
<h2>Empleado: {{solicitud.empleado.nombre}} {{solicitud.empleado.apellido}}</h2>

<br>
<h3>Tecnico Encargado: {{solicitud.tecnico.nombre}} {{solicitud.tecnico.apellido}}</h3>

<br>
<h4>Descripcion del problema</h4>
<p>{{solicitud.descripcion}}</p>

<br>

<h5>Fecha de solicitud: {{solicitud.fecha_creacion}}</h5>

<br>
<h4>Estado</h4>
<p>{{solicitud.estado}}</p>


{% if request.user.rol == 'Soporte' %}
    {% if solicitud.estado == 'Solicitado' %}
    <a href="/poner_solicitud_en_progreso/solicitud/{{solicitud.id}}" class="btn btn-primary btn-big">Poner en progreso</a>

    {% elif solicitud.estado == 'En progreso' %}
        <a href="/agregar_solucion/solicitud/{{solicitud.id}}" class="btn btn-primary btn-big">Agregar Solucion</a>
    {% endif %}

{% endif %}



{% endblock %}